asgiref==3.8.1
awscrt==0.23.0
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
checks==0.2
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.3
cx_Oracle==8.3.0
Cython==3.0.11
docutils==0.21.2
filelock==3.16.1
greenlet==3.1.1
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.119.2
importlib_metadata==8.5.0
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
js==1.0
keyring==25.5.0
mtrand==0.1
pickle5==0.0.12
Pillow==11.0.0
protobuf==5.28.3
psutil==6.1.0
PyInstaller==6.11.1
pyodide==0.0.2
pyOpenSSL==24.2.1
pysqlcipher3==1.2.0
pytest==8.3.3
pytz==2024.2
pywin32==308
PyYAML==6.0.2
redis==5.2.0
scipy_doctest==1.4
setuptools==75.5.0
simplejson==3.19.3
Sphinx==8.1.3
sqlcipher3==0.5.4
thread==2.0.5
threadpoolctl==3.5.0
urllib3_secure_extra==0.1.0
watchdog==6.0.0
xmlrpclib==1.0.1
zstandard==0.23.0
